services:
  netdata:
    image: netdata/netdata
    container_name: netdata
    hostname: 192.168.4.25
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    environment:
      - PUID=1000
      - GUID=1000
      - TZ=$TZ
      - DOCKER_HOST=http://localhost:2375
    volumes:
      - ${CONF}/netdata/proc:/host/proc:ro
      - ${CONF}/netdata/sys:/host/sys:ro
      - ${CONF}/netdata/var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

  heimdall:
    image: ghcr.io/linuxserver/heimdall
    container_name: heimdall
    environment:
      - PUID=1000
      - GUID=1000
      - TZ=$TZ
    volumes:
      - ${CONF}/heimdall:/config
    restart: unless-stopped

  sonarr:
    image: ghcr.io/linuxserver/sonarr
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=$TZ
      - UMASK_SET=022 #optional
    volumes:
      - ${CONF}/sonarr:/config
      - /mnt/merged/media:/media
    restart: unless-stopped

  radarr:
    image: ghcr.io/linuxserver/radarr
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=$TZ
      - UMASK_SET=022 #optional
    volumes:
      - ${CONF}/radarr:/config
      - /mnt/merged/media:/media
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr
    container_name: bazarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=$TZ
    volumes:
      - ${CONF}/bazarr:/config
      - /mnt/merged/media:/media
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=$TZ
    volumes:
      - ${CONF}/prowlarr:/config
    restart: unless-stopped

  swag:
    image: ghcr.io/linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=$TZ
      - URL=${URL}
      - SUBDOMAINS=wildcard
      - VALIDATION=dns
      - DNSPLUGIN=${DNS}
      - MAXMINDDB_LICENSE_KEY=${MAXMIND}
      - EMAIL=${EMAIL}
      - SWAG_AUTORELOAD=true
    volumes:
      - ${CONF}/swag:/config
    ports:
      - 443:443
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=$TZ
      - LOG_LEVEL=info
      - LOG_HTML=false
      - CAPTCHA_SOLVER=none
    restart: unless-stopped 

  plex:
    runtime: nvidia
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - VERSION=docker
      - PLEX_CLAIM=${PLEX_CLAIM}
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - ${CONF}/plex:/config
      - /mnt/merged/media:/media
      - /mnt/ssd001/temp-transcode:/transcode
    restart: unless-stopped 



  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    user: 1000:1000
#    network_mode: 'host'
    volumes:
      - ${CONF}/jellyfin:/config
      - /mnt/merged/media:/media
      - /mnt/ssd001/temp-transcode:/transcode
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    restart: 'unless-stopped'

  nzbget:
    image: ghcr.io/linuxserver/nzbget
    container_name: nzbget
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=$TZ
    volumes:
      - ${CONF}/nzbget:/config
      - /mnt/merged/media/usenet:/media/usenet
      - /mnt/ssd001/p2p:/mnt/ssd001/p2p
      - /mnt/merged/media/usenet/.watch:/watched
      - /mnt/merged/Storage:/Storage
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=$TZ
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - ${CONF}/qbittorrent:/config
      - /mnt/merged/media/torrents:/media/torrents
      - /mnt/merged/Storage:/Storage
      - /mnt/ssd001/p2p:/mnt/ssd001/p2p
    restart: unless-stopped

  archisteamfarm:
    image: ghcr.io/justarchinet/archisteamfarm
    container_name: asf
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=$TZ
    volumes:
      - ${CONF}/asf:/app/config
    ports:
      - 1242:1242
    restart: unless-stopped

  tautulli:
    image: ghcr.io/tautulli/tautulli
    container_name: tautulli
    volumes:
      - ${CONF}/tautulli:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=$TZ
    restart: unless-stopped

  overseerr:
    image: lscr.io/linuxserver/overseerr:latest
    container_name: overseerr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=$TZ
    volumes:
      - ${CONF}/overseer:/config
    restart: unless-stopped

  maintainerr:
    image: ghcr.io/jorenn92/maintainerr:latest
    container_name: maintainerr
    user: 1000:1000
    environment:
      - TZ=$TZ
#     - DEBUG=true # uncomment (remove the hashtag) to enable debug logs
    volumes:
      - ${CONF}/maintainerr:/opt/data
    restart: unless-stopped

  unpackerr:
    image: golift/unpackerr
    container_name: unpackerr
    volumes:
      - /mnt/merged/media:/media
      - ${CONF}/unpackerr:/config
    restart: unless-stopped
    user: 1000:1000
    environment:
    - TZ=${TZ}
    ## Global Settings
    - UN_DEBUG=false
    - UN_QUIET=false
    - UN_ERROR_STDERR=false
    - UN_ACTIVITY=false
    - UN_LOG_QUEUES=1m
    - UN_LOG_FILE=/config/unpackerr
    - UN_LOG_FILES=10
    - UN_LOG_FILE_MB=10
    - UN_INTERVAL=2m
    - UN_START_DELAY=1m
    - UN_RETRY_DELAY=5m
    - UN_MAX_RETRIES=3
    - UN_PARALLEL=1
    - UN_FILE_MODE=0644
    - UN_DIR_MODE=0755
    ## Web Server
    - UN_WEBSERVER_METRICS=false
    - UN_WEBSERVER_LISTEN_ADDR=0.0.0.0:5656
    - UN_WEBSERVER_LOG_FILE=
    - UN_WEBSERVER_LOG_FILES=10
    - UN_WEBSERVER_LOG_FILE_MB=10
    - UN_WEBSERVER_SSL_CERT_FILE=
    - UN_WEBSERVER_SSL_KEY_FILE=
    - UN_WEBSERVER_URLBASE=/
    - UN_WEBSERVER_UPSTREAMS=
    ## Folder Settings
    - UN_FOLDERS_INTERVAL=1s
    - UN_FOLDERS_BUFFER=20000
    ## Sonarr Settings
    - UN_SONARR_0_URL=http://sonarr:8989
    - UN_SONARR_0_API_KEY=e4e2cbbfcc7f48319565523794d95f80
    - UN_SONARR_0_PATHS_0=/media
    - UN_SONARR_0_PROTOCOLS=torrent,usenet
    - UN_SONARR_0_TIMEOUT=10s
    - UN_SONARR_0_DELETE_DELAY=5m
    - UN_SONARR_0_DELETE_ORIG=false
    - UN_SONARR_0_SYNCTHING=false
    ## Radarr Settings
    - UN_RADARR_0_URL=http://radarr:7878
    - UN_RADARR_0_API_KEY=84da99f2b762452097f202e1fe22cf99
    - UN_RADARR_0_PATHS_0=/media
    - UN_RADARR_0_PROTOCOLS=torrent,usenet
    - UN_RADARR_0_TIMEOUT=10s
    - UN_RADARR_0_DELETE_DELAY=5m
    - UN_RADARR_0_DELETE_ORIG=false
    - UN_RADARR_0_SYNCTHING=false

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --schedule "0 3 * * * *"

  stash:
    image: stashapp/stash:latest
    container_name: stash
    restart: unless-stopped
    ## the container's port must be the same with the STASH_PORT in the environment section
#    ports:
#      - "9999:9999"
    ## If you intend to use stash's DLNA functionality uncomment the below network mode and comment out the above ports section
#    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "2m"
    environment:
      - PUID=1000
      - GUID=1000
      - STASH_STASH=/data/
      - STASH_GENERATED=/generated/
      - STASH_METADATA=/metadata/
      - STASH_CACHE=/cache/
      ## Adjust below to change default port (9999)
#      - STASH_PORT=9999
    volumes:
      - /etc/localtime:/etc/localtime:ro
      ## Adjust below paths (the left part) to your liking.
      ## E.g. you can change ./config:/root/.stash to ./stash:/root/.stash
      ## The left part is the path on your host, the right part is the path in the stash container.

      ## Keep configs, scrapers, and plugins here.
      - ${CONF}/stash:/root/.stash
      ## Point this at your collection.
      ## The left side is where your collection is on your host, the right side is where it will be in stash.
      - /mnt/merged/Storage/Jellyfin:/data
      ## This is where your stash's metadata lives
      - ${CONF}/metadata:/metadata
      ## Any other cache content.
      - ${CONF}/cache:/cache
      ## Where to store binary blob data (scene covers, images)
      - ${CONF}/blobs:/blobs
      ## Where to store generated content (screenshots,previews,transcodes,sprites)
      - ${CONF}/generated:/generated
